/* font:merriweather */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

  /* font inter */
  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-simple {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  


/* shared content */

.text-spe {
    text-align: center;
}
.sec-bg {
    background-image: linear-gradient(to right, rgba(7, 2, 17, 100), rgba(7, 2, 17, 0));
}
.special-tag {
    color: #FF0000;
}
.btn-primary {
    background-color: #FF0000;
    border-radius: 8px;
    padding: 16px 32px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* header part */
.header-aling {
    margin: 50px 140px;
}


/* banner part starts here */


.banner-sec {
    height: 600px;
    border-radius: 16px;
}
.banner {
    background-image: url(../images/Banner\ Image.png);
    background-size: cover;
    border-radius: 16px;
}
.banner-description {
    height: 220px;
    display: block;
    text-align: center;
    padding: 203px 344px 177px;
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 100), rgba(7, 2, 17, 0));
}
.banner-title {
    font-size: 32px;
    color: #FFFFFF;
}
.banner-subtitle {
    font-size: 72px;
    line-height: 95px;
    color: #FFFFFF;
}

/* offer styles */
.offers-sec {
    margin: 120px 259px;
}
.offer-photo {
    background-size: cover;
}
.offer-title {
    color: #FF0000;
    text-align: center;
    font-size: 60px;
    
}
.offer-subtitle {
    font-size: 24px;
    color: #FF0000;
    font-weight: 400;
}
.offer-subtitle2 {
    font-size: 48px;
    color: #070211;
    font-weight: 700;
}

/* message section styles */

.mssg-sec {
    background-image: url(../images/Vectorrr.png);
    background-size: cover;
}

.message {
    height: 600px;
    background-image: linear-gradient(to right, rgba(7, 2, 17, 100), rgba(7, 2, 17, 0));
      
    border-radius: 18px;
    display: flex;
}
.ano-pht {
    background-size: cover;
    margin-top: 68px;
}
.msg-title {
    font-size: 64px;
    line-height: 88px;
    word-spacing: 11%;
    color: #FFFFFF;
}
.msg-description {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 80%;
}
.click {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 32px;
}
.des-part {
    margin-top: 126px;
    margin-left: 126px;
}

/* main styles goes on from here */

.main-align {
    height: 482px;
    margin: 0 140px;
}
.description {
    text-align: center;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0));
    border-radius: 16px;
    margin-bottom: 120px;
}
.description-topics {
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    line-height: 56px;
}
.description-details {
    margin: 100px 36px 110x 385px;
}

/* middle content */
.middle-content {
    /* height: 463px; */
    margin-bottom: 120px;
}

.content-box {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.best-offer-title {
    color: #FF0000;
    font-size: 24px;
    font-weight: 400;
}
.best-offer-subtitle {
    color: #070211;
    font-size: 48px;
}
.best-offer-description {
    color: #070211;
    opacity: 60%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
/* second photo */

.circle-photo {
    outline: 5px solid #FF0000;
    border-radius: 50%;
    padding: 49px;
}


/* third photo */
.year {
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
}
.year-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #070211;
    opacity: 60%;
}
.last-obj {
    padding: 30px;
}